<!--skeleton-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">

</head>

<body class="text-center">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
        
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:index' %}">Dealership Reviews</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </li>
        </ul>

            {% if user.is_authenticated %}
            <div>
                <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
            </div>
            {% else %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'djangoapp:login' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" >
                    <input type="password" class="form-control" placeholder="Username" name="psw" >
                    <button class="btn btn-primary" type="submit">Login</button>
                    <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                </div>
            </form>
            {% endif %}
    </nav>

    <div class="container-fluid">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p class="text-danger flex text-center">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% if message %}
            <div class="alert alert-warning"> <!--Style the message paragraph with .alert and .alert-warning class -->
            {{ message }}
            </div>
        {% endif %}
        <main role="main" class="row justify-content-center">

            <div class="main col-lg-9 col-md-12">{% block content %} {% endblock %}</div>
        </main>
    </div>

    <footer class="footer fixed-bottom bg-light">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Reviews</a> {% url 'djangoapp:about' as url %}
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">About Us</a> {% url 'djangoapp:contact' as url %}
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url %}active{% endif %}" href="{{ url }}">Contact</a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>